 .u-section-1 {
  background-image: url("images/backgroundohnelogo4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-text-1 {
  margin: 137px auto 0 384px;
}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 31px auto 33px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 146px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 681px 0 9px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-5 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-13 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -5px auto 0 9px;
}

.u-section-1 .u-text-15 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-17 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-19 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-21 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 20px auto 0 9px;
}

.u-section-1 .u-text-23 {
  margin: 20px auto 0 9px;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-image-1 {
  min-height: 146px;
  background-image: url("images/durchsichtig.png");
  height: auto;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 19px 720px 0 30px;
}

.u-section-1 .u-text-25 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-27 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-29 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-31 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-33 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-35 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-37 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-39 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-41 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-43 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-45 {
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  margin: 20px auto 0 30px;
}

.u-section-1 .u-text-47 {
  margin: 18px 0 0 30px;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  margin: 22px auto 0 30px;
}

.u-section-1 .u-text-49 {
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-50 {
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-51 {
  margin-left: 30px;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 146px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  margin: 20px 15px 0 0;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  margin: 19px 7px 0;
}

.u-section-1 .u-text-54 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-55 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-56 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-57 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-58 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-59 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-60 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-61 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-62 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-63 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-64 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-65 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-66 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-67 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-68 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-69 {
  font-weight: 700;
  margin: 20px 7px 0;
}

.u-section-1 .u-text-70 {
  margin: 20px 7px 0;
}

.u-section-1 .u-text-71 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-72 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-73 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-74 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-75 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-76 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-77 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-78 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-79 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-80 {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 146px;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-81 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-82 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-83 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-84 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-85 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-86 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-87 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-88 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-89 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-90 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-91 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-92 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 146px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-93 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-94 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-95 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-96 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-97 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-98 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-99 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-100 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-101 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-102 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-103 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-104 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-105 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-106 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-107 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-108 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-109 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-110 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 251px;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-111 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-112 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-113 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-114 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-115 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-116 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 146px;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-117 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-text-118 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-119 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-120 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-121 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-122 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-123 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-124 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-125 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-126 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-127 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-128 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-right: 30px;
  }

  .u-section-1 .u-text-48 {
    margin-left: 0;
  }

  .u-section-1 .u-text-49 {
    margin-left: 0;
  }

  .u-section-1 .u-text-50 {
    margin-left: 0;
  }

  .u-section-1 .u-text-51 {
    margin-left: 0;
  }

  .u-section-1 .u-text-52 {
    margin-right: 0;
  }

  .u-section-1 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-54 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-55 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-56 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-57 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-58 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-59 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-60 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-61 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-62 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-63 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-64 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-65 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-66 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-67 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-68 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-69 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-70 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-71 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-72 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-73 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-74 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-75 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-76 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-77 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-78 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-79 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-80 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 91px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 470px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 270px;
  }
}